main {
  height: 90vh;
  background-image: url(img/movelPlanejado.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  display: flex;
  justify-content: flex-end;
}

form {
  border-radius: 5px;
  background-color: #8a8a83;

  padding: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
}

label {
  padding: 12px 12px 12px 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #c23c4b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 1em;
}

input[type="submit"]:hover {
  background-color: #c92d2d;
}

@media screen and (max-device-width: 581px) {
  .container-texto {
    font-size: 0.5em;
  }
}


