<<<<<<< HEAD
.flex-container {
  
	width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f6e4e6;
	gap: 5rem;
}

.card {
  color: white;
	width: 40%;
  min-height: 18rem;
  border: 0.1em solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  flex-grow: auto;
  flex-basis: 12em;
  box-shadow: 0px 1px #f3efee;
}

.borda {
	min-width: 100%;
  display: flex;
  justify-content: space-around;
}
#compra1{
	padding: 5px;
	display: flex;

}

#compra2{
	padding: 5px;
	display: flex;
	border-left: 1px solid rgb(0, 0, 0);
}


.card p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
	font-size: 0.8em;
	border: 0;
		
}

.linha{
	border-left: 200px solid;
}

.iconeCompra {
  min-width: 9px;
}

img {
  width: 100%;
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  height: 17vh;
  background-color: #c23c4b;
}

nav {
  display: flex;
  align-items: center;
  padding: 1em;
}

.frase-size {
  padding: 1em;
  color: #f6e4e6;
}

.frase-size :hover {
  color: black;
  transition: 0.2s ease-in;
}

.imagem {
  display: flex;
  width: 10rem;
}

@media screen and (max-device-width: 677px) {
  nav {
    color: #f6e4e6;
    display: flex;

    font-size: 0.5em;
  }
}

.texto {
  margin-left: -170px;
  color: black;
}
.banner {
  background-image: url(./img/banner.jpg);
  background-position: center;
  background-size: cover;
  padding: 80px;
}
.banner span {
  margin-left: 10px;
  font-weight: bold;
}
.banner h1 {
  font-size: 6rem;
  font-weight: bold;
  line-height: 100px;
}
.imagebanner {
  width: 148px;
  height: 148px;
  border: 7px solid #c23949;
  border-radius: 70px;
  margin-top: 60px;
  margin-left: 20px;
}

footer {
  margin-left: 15em;
  height: 17vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6e4e6;
  font-size: 0.8em;
}

.imgSocial {
  height: 2.5em;
  width: 2.5em;
}

.botao {
  padding: 0.625em;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

@media screen and (max-device-width: 581px) {
  .texto {
    font-size: 0.7em;
  }
>>>>>>> master
}
